In [2]:
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

# 과목별 인원 가져오기
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()

# 각 강의실 규모에 해당되는 과목 리스트 만들기
auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts > 4)].index)

# 강의실 이름 붙이기
for i in range(len(auditorium_list)):
    df.loc[(df["course name"] == sorted(auditorium_list)[i]) & allowed, "room assignment"] = "Auditorium-" + str(i + 1)

for i in range(len(large_room_list)):
    df.loc[(df["course name"] == sorted(large_room_list)[i]) & allowed, "room assignment"] = "Large-" + str(i + 1)
    
for i in range(len(medium_room_list)):
    df.loc[(df["course name"] == sorted(medium_room_list)[i]) & allowed, "room assignment"] = "Medium-" + str(i + 1)
    
for i in range(len(small_room_list)):
    df.loc[(df["course name"] == sorted(small_room_list)[i]) & allowed, "room assignment"] = "Small-" + str(i + 1)

# column 이름 바꾸기
df.rename(columns={"room assignment": "room number"}, inplace = True)
    
# 정답 출력
df

           id  year           course name       status   room number
0     2777729     1               science      allowed  Auditorium-3
1     2777730     2               science      allowed  Auditorium-3
2     2777765     1                  arts      allowed  Auditorium-1
3     2777766     2                  arts      allowed  Auditorium-1
4     2777785     1                   mba      allowed      Small-34
5     2777786     2                   mba      allowed      Small-34
6     2777793     1         mba 2nd shift  not allowed  not assigned
7     2777794     2         mba 2nd shift  not allowed  not assigned
8     2777795     1         mca 2nd shift  not allowed  not assigned
9     2777796     2         mca 2nd shift  not allowed  not assigned
10    2777797     3         mca 2nd shift  not allowed  not assigned
11    2777798     1                  bjmc  not allowed  not assigned
12    2777799     2                  bjmc  not allowed  not assigned
13    2777800     3                  bjmc  not allowed  not assigned
14    2777814     1               history      allowed     Medium-15
15    2777815     2               history      allowed     Medium-15
16    2777837     4             chemistry      allowed      Medium-3
17    2777858     4                botany      allowed      Medium-1
18    2604364     1               history      allowed     Medium-15
19    2604408     3               finance      allowed      Small-24
20    2604407     2               finance      allowed      Small-24
21    2604420     1               physics      allowed     Medium-23
22    2777899     1      computer science      allowed      Medium-8
23    2604365     2               history      allowed     Medium-15
24    2604413     2               english      allowed       Large-2
25    2604406     1               finance      allowed      Small-24
26    2604366     3               history      allowed     Medium-15
27    2604412     1               english      allowed       Large-2
28    2604421     2               physics      allowed     Medium-23
29    2777900     4              commerce  not allowed  not assigned
...       ...   ...                   ...          ...           ...
1970  2796702     1      computer science      allowed      Medium-8
1971  2796703     2      computer science      allowed      Medium-8
1972  2796704     3      computer science      allowed      Medium-8
1973  2796756     1             education      allowed       Large-1
1974  2796757     2             education      allowed       Large-1
1975  2796769     1            management      allowed     Medium-17
1976  2796770     2            management      allowed     Medium-17
1977  2796771     3            management      allowed     Medium-17
1978  2796772     1           music vocal  not allowed  not assigned
1979  2796773     2           music vocal  not allowed  not assigned
1980  2796774     3           music vocal  not allowed  not assigned
1981  2796783     1     political science      allowed      Small-46
1982  2796784     2     political science      allowed      Small-46
1983  2796785     3     political science      allowed      Small-46
1984  2796786     1        computers (ug)  not allowed  not assigned
1985  2796787     2        computers (ug)  not allowed  not assigned
1986  2796788     3        computers (ug)  not allowed  not assigned
1987  2796789     1             economics      allowed     Medium-11
1988  2796790     2             economics      allowed     Medium-11
1989  2796791     3             economics      allowed     Medium-11
1990  2796800     1                 hindi      allowed      Small-27
1991  2796801     2                 hindi      allowed      Small-27
1992  2796802     3                 hindi      allowed      Small-27
1993  2796803     1  computer application      allowed      Medium-7
1994  2796804     2  computer application      allowed      Medium-7
1995  2796805     3  computer application      allowed      Medium-7
1996  2796812     1               nursing      allowed     Medium-22
1997  2796813     2               nursing      allowed     Medium-22
1998  2796814     3               nursing      allowed     Medium-22
1999  2796815     4               nursing      allowed     Medium-22

[2000 rows x 5 columns]

### Another Way

In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_3.csv')

# 같은 크기의 강의실이 필요한 과목에 대해 알파벳 순서대로 방 번호를 배정하세요
acs = df.sort_values(by='course name')

# Small room
small = acs.loc[acs['room assignment']=='Small room', 'course name']
s_list = list(small.unique())

count = 1
for i in s_list:
    df.loc[(df['course name']==i)&(df['status'] == 'allowed'), 'room assignment'] = 'Small-'+str(count)
    count += 1
    
# Medium room
medium = acs.loc[acs['room assignment']=='Medium room', 'course name']
m_list = list(medium.unique())

count = 1
for i in m_list:
    df.loc[(df['course name']==i)&(df['status'] == 'allowed'), 'room assignment'] = 'Medium-'+str(count)
    count += 1
    
# Large room
large = acs.loc[acs['room assignment']=='Large room', 'course name']
l_list = list(large.unique())

count = 1
for i in l_list:
    df.loc[(df['course name']==i)&(df['status'] == 'allowed'), 'room assignment'] = 'Large-'+str(count)
    count += 1
    
# Auditorium
aud = acs.loc[acs['room assignment']=='Auditorium', 'course name']
a_list = list(aud.unique())

count = 1
for i in a_list:
    df.loc[(df['course name']==i)&(df['status'] == 'allowed'), 'room assignment'] = 'Auditorium-'+str(count)
    count += 1


# 'room assignment' 컬럼의 이름을 'room number'로 바꿔주세요
df.rename(columns= {'room assignment':'room number'}, inplace = True)

# 정답 출력
df

           id  year           course name       status   room number
0     2777729     1               science      allowed  Auditorium-3
1     2777730     2               science      allowed  Auditorium-3
2     2777765     1                  arts      allowed  Auditorium-1
3     2777766     2                  arts      allowed  Auditorium-1
4     2777785     1                   mba      allowed      Small-34
5     2777786     2                   mba      allowed      Small-34
6     2777793     1         mba 2nd shift  not allowed  not assigned
7     2777794     2         mba 2nd shift  not allowed  not assigned
8     2777795     1         mca 2nd shift  not allowed  not assigned
9     2777796     2         mca 2nd shift  not allowed  not assigned
10    2777797     3         mca 2nd shift  not allowed  not assigned
11    2777798     1                  bjmc  not allowed  not assigned
12    2777799     2                  bjmc  not allowed  not assigned
13    2777800     3                  bjmc  not allowed  not assigned
14    2777814     1               history      allowed     Medium-15
15    2777815     2               history      allowed     Medium-15
16    2777837     4             chemistry      allowed      Medium-3
17    2777858     4                botany      allowed      Medium-1
18    2604364     1               history      allowed     Medium-15
19    2604408     3               finance      allowed      Small-24
20    2604407     2               finance      allowed      Small-24
21    2604420     1               physics      allowed     Medium-23
22    2777899     1      computer science      allowed      Medium-8
23    2604365     2               history      allowed     Medium-15
24    2604413     2               english      allowed       Large-2
25    2604406     1               finance      allowed      Small-24
26    2604366     3               history      allowed     Medium-15
27    2604412     1               english      allowed       Large-2
28    2604421     2               physics      allowed     Medium-23
29    2777900     4              commerce  not allowed  not assigned
...       ...   ...                   ...          ...           ...
1970  2796702     1      computer science      allowed      Medium-8
1971  2796703     2      computer science      allowed      Medium-8
1972  2796704     3      computer science      allowed      Medium-8
1973  2796756     1             education      allowed       Large-1
1974  2796757     2             education      allowed       Large-1
1975  2796769     1            management      allowed     Medium-17
1976  2796770     2            management      allowed     Medium-17
1977  2796771     3            management      allowed     Medium-17
1978  2796772     1           music vocal  not allowed  not assigned
1979  2796773     2           music vocal  not allowed  not assigned
1980  2796774     3           music vocal  not allowed  not assigned
1981  2796783     1     political science      allowed      Small-46
1982  2796784     2     political science      allowed      Small-46
1983  2796785     3     political science      allowed      Small-46
1984  2796786     1        computers (ug)  not allowed  not assigned
1985  2796787     2        computers (ug)  not allowed  not assigned
1986  2796788     3        computers (ug)  not allowed  not assigned
1987  2796789     1             economics      allowed     Medium-11
1988  2796790     2             economics      allowed     Medium-11
1989  2796791     3             economics      allowed     Medium-11
1990  2796800     1                 hindi      allowed      Small-27
1991  2796801     2                 hindi      allowed      Small-27
1992  2796802     3                 hindi      allowed      Small-27
1993  2796803     1  computer application      allowed      Medium-7
1994  2796804     2  computer application      allowed      Medium-7
1995  2796805     3  computer application      allowed      Medium-7
1996  2796812     1               nursing      allowed     Medium-22
1997  2796813     2               nursing      allowed     Medium-22
1998  2796814     3               nursing      allowed     Medium-22
1999  2796815     4               nursing      allowed     Medium-22

[2000 rows x 5 columns]