In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_2.csv')

df

           id  year           course name       status
0     2777729     1               science      allowed
1     2777730     2               science      allowed
2     2777765     1                  arts      allowed
3     2777766     2                  arts      allowed
4     2777785     1                   mba      allowed
5     2777786     2                   mba      allowed
6     2777793     1         mba 2nd shift  not allowed
7     2777794     2         mba 2nd shift  not allowed
8     2777795     1         mca 2nd shift  not allowed
9     2777796     2         mca 2nd shift  not allowed
10    2777797     3         mca 2nd shift  not allowed
11    2777798     1                  bjmc  not allowed
12    2777799     2                  bjmc  not allowed
13    2777800     3                  bjmc  not allowed
14    2777814     1               history      allowed
15    2777815     2               history      allowed
16    2777837     4             chemistry      allowed
17    2777858     4                botany      allowed
18    2604364     1               history      allowed
19    2604408     3               finance      allowed
20    2604407     2               finance      allowed
21    2604420     1               physics      allowed
22    2777899     1      computer science      allowed
23    2604365     2               history      allowed
24    2604413     2               english      allowed
25    2604406     1               finance      allowed
26    2604366     3               history      allowed
27    2604412     1               english      allowed
28    2604421     2               physics      allowed
29    2777900     4              commerce  not allowed
...       ...   ...                   ...          ...
1970  2796702     1      computer science      allowed
1971  2796703     2      computer science      allowed
1972  2796704     3      computer science      allowed
1973  2796756     1             education      allowed
1974  2796757     2             education      allowed
1975  2796769     1            management      allowed
1976  2796770     2            management      allowed
1977  2796771     3            management      allowed
1978  2796772     1           music vocal  not allowed
1979  2796773     2           music vocal  not allowed
1980  2796774     3           music vocal  not allowed
1981  2796783     1     political science      allowed
1982  2796784     2     political science      allowed
1983  2796785     3     political science      allowed
1984  2796786     1        computers (ug)  not allowed
1985  2796787     2        computers (ug)  not allowed
1986  2796788     3        computers (ug)  not allowed
1987  2796789     1             economics      allowed
1988  2796790     2             economics      allowed
1989  2796791     3             economics      allowed
1990  2796800     1                 hindi      allowed
1991  2796801     2                 hindi      allowed
1992  2796802     3                 hindi      allowed
1993  2796803     1  computer application      allowed
1994  2796804     2  computer application      allowed
1995  2796805     3  computer application      allowed
1996  2796812     1               nursing      allowed
1997  2796813     2               nursing      allowed
1998  2796814     3               nursing      allowed
1999  2796815     4               nursing      allowed

[2000 rows x 4 columns]

In [2]:
df['room assignment'] = 'not assigned'
df

           id  year           course name       status room assignment
0     2777729     1               science      allowed    not assigned
1     2777730     2               science      allowed    not assigned
2     2777765     1                  arts      allowed    not assigned
3     2777766     2                  arts      allowed    not assigned
4     2777785     1                   mba      allowed    not assigned
5     2777786     2                   mba      allowed    not assigned
6     2777793     1         mba 2nd shift  not allowed    not assigned
7     2777794     2         mba 2nd shift  not allowed    not assigned
8     2777795     1         mca 2nd shift  not allowed    not assigned
9     2777796     2         mca 2nd shift  not allowed    not assigned
10    2777797     3         mca 2nd shift  not allowed    not assigned
11    2777798     1                  bjmc  not allowed    not assigned
12    2777799     2                  bjmc  not allowed    not assigned
13    2777800     3                  bjmc  not allowed    not assigned
14    2777814     1               history      allowed    not assigned
15    2777815     2               history      allowed    not assigned
16    2777837     4             chemistry      allowed    not assigned
17    2777858     4                botany      allowed    not assigned
18    2604364     1               history      allowed    not assigned
19    2604408     3               finance      allowed    not assigned
20    2604407     2               finance      allowed    not assigned
21    2604420     1               physics      allowed    not assigned
22    2777899     1      computer science      allowed    not assigned
23    2604365     2               history      allowed    not assigned
24    2604413     2               english      allowed    not assigned
25    2604406     1               finance      allowed    not assigned
26    2604366     3               history      allowed    not assigned
27    2604412     1               english      allowed    not assigned
28    2604421     2               physics      allowed    not assigned
29    2777900     4              commerce  not allowed    not assigned
...       ...   ...                   ...          ...             ...
1970  2796702     1      computer science      allowed    not assigned
1971  2796703     2      computer science      allowed    not assigned
1972  2796704     3      computer science      allowed    not assigned
1973  2796756     1             education      allowed    not assigned
1974  2796757     2             education      allowed    not assigned
1975  2796769     1            management      allowed    not assigned
1976  2796770     2            management      allowed    not assigned
1977  2796771     3            management      allowed    not assigned
1978  2796772     1           music vocal  not allowed    not assigned
1979  2796773     2           music vocal  not allowed    not assigned
1980  2796774     3           music vocal  not allowed    not assigned
1981  2796783     1     political science      allowed    not assigned
1982  2796784     2     political science      allowed    not assigned
1983  2796785     3     political science      allowed    not assigned
1984  2796786     1        computers (ug)  not allowed    not assigned
1985  2796787     2        computers (ug)  not allowed    not assigned
1986  2796788     3        computers (ug)  not allowed    not assigned
1987  2796789     1             economics      allowed    not assigned
1988  2796790     2             economics      allowed    not assigned
1989  2796791     3             economics      allowed    not assigned
1990  2796800     1                 hindi      allowed    not assigned
1991  2796801     2                 hindi      allowed    not assigned
1992  2796802     3                 hindi      allowed    not assigned
1993  2796803     1  computer application      allowed    not assigned
1994  2796804     2  computer application      allowed    not assigned
1995  2796805     3  computer application      allowed    not assigned
1996  2796812     1               nursing      allowed    not assigned
1997  2796813     2               nursing      allowed    not assigned
1998  2796814     3               nursing      allowed    not assigned
1999  2796815     4               nursing      allowed    not assigned

[2000 rows x 5 columns]

In [3]:
allowed = df['status'] == 'allowed'
allowed

0        True
1        True
2        True
3        True
4        True
5        True
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29      False
        ...
1970     True
1971     True
1972     True
1973     True
1974     True
1975     True
1976     True
1977     True
1978    False
1979    False
1980    False
1981     True
1982     True
1983     True
1984    False
1985    False
1986    False
1987     True
1988     True
1989     True
1990     True
1991     True
1992     True
1993     True
1994     True
1995     True
1996     True
1997     True
1998     True
1999     True
Name: status, Length: 2000, dtype: bool

In [9]:
student_counts = df.loc[allowed, "course name"].value_counts()
student_counts

arts                                         158
science                                      124
commerce                                     101
english                                       56
education                                     41
management                                    38
nursing                                       36
chemistry                                     33
computer                                      27
computer science                              26
civil engineering                             25
history                                       24
mechanical engineering                        24
civil                                         23
economics                                     23
physics                                       23
mathematics                                   22
coumputer science                             22
mechanical                                    21
engineering                                   20
botany                                        20
zoology                                       16
computer application                          16
cse                                           16
mbbs                                          16
law                                           15
chemical engineering                          15
general                                       15
electrical                                    15
sociology                                     14
                                            ...
biotechnology                                  8
technical                                      8
ece                                            8
ug                                             7
electronics                                    7
bio-chemistry                                  7
physiotherapy                                  7
geography                                      6
general medicine                               6
engineering & technology                       6
mecs                                           6
electronics and communication engineering      6
anatomy                                        6
mba                                            6
mpcs                                           6
bio chemistry                                  6
maithili                                       6
psychology                                     6
home science                                   6
cbz                                            6
ca                                             6
mechanical engg                                6
pali                                           6
mpc                                            6
dental                                         5
music                                          5
interior design                                5
building construction and mangement            5
nanotechnology                                 5
mca                                            5
Name: course name, Length: 82, dtype: int64

In [10]:
auditorium = list(student_counts[student_counts >= 80].index)
large_room = list(student_counts[student_counts >= 40].index)
medium_room = list(student_counts[student_counts >= 15].index)
small_room = list(student_counts[student_counts >= 5].index)

In [13]:
for course in df['course name']:
    if course in auditorium:
        df.loc[df['course name'] == course, 'room assignment'] = 'Auditorium'
    elif course in large_room:
        df.loc[df['course name'] == course, 'room assignment'] = 'Large room'
    elif course in medium_room:
        df.loc[df['course name'] == course, 'room assignment'] = 'Medium room'
    elif course in small_room:
        df.loc[df['course name'] == course, 'room assignment'] = 'Small room'
    else:
        df.loc[df["status"] == "not allowed", "room assignment"] = "not assigned"
        
df

           id  year           course name       status room assignment
0     2777729     1               science      allowed      Auditorium
1     2777730     2               science      allowed      Auditorium
2     2777765     1                  arts      allowed      Auditorium
3     2777766     2                  arts      allowed      Auditorium
4     2777785     1                   mba      allowed      Small room
5     2777786     2                   mba      allowed      Small room
6     2777793     1         mba 2nd shift  not allowed    not assigned
7     2777794     2         mba 2nd shift  not allowed    not assigned
8     2777795     1         mca 2nd shift  not allowed    not assigned
9     2777796     2         mca 2nd shift  not allowed    not assigned
10    2777797     3         mca 2nd shift  not allowed    not assigned
11    2777798     1                  bjmc  not allowed    not assigned
12    2777799     2                  bjmc  not allowed    not assigned
13    2777800     3                  bjmc  not allowed    not assigned
14    2777814     1               history      allowed     Medium room
15    2777815     2               history      allowed     Medium room
16    2777837     4             chemistry      allowed     Medium room
17    2777858     4                botany      allowed     Medium room
18    2604364     1               history      allowed     Medium room
19    2604408     3               finance      allowed      Small room
20    2604407     2               finance      allowed      Small room
21    2604420     1               physics      allowed     Medium room
22    2777899     1      computer science      allowed     Medium room
23    2604365     2               history      allowed     Medium room
24    2604413     2               english      allowed      Large room
25    2604406     1               finance      allowed      Small room
26    2604366     3               history      allowed     Medium room
27    2604412     1               english      allowed      Large room
28    2604421     2               physics      allowed     Medium room
29    2777900     4              commerce  not allowed    not assigned
...       ...   ...                   ...          ...             ...
1970  2796702     1      computer science      allowed     Medium room
1971  2796703     2      computer science      allowed     Medium room
1972  2796704     3      computer science      allowed     Medium room
1973  2796756     1             education      allowed      Large room
1974  2796757     2             education      allowed      Large room
1975  2796769     1            management      allowed     Medium room
1976  2796770     2            management      allowed     Medium room
1977  2796771     3            management      allowed     Medium room
1978  2796772     1           music vocal  not allowed    not assigned
1979  2796773     2           music vocal  not allowed    not assigned
1980  2796774     3           music vocal  not allowed    not assigned
1981  2796783     1     political science      allowed      Small room
1982  2796784     2     political science      allowed      Small room
1983  2796785     3     political science      allowed      Small room
1984  2796786     1        computers (ug)  not allowed    not assigned
1985  2796787     2        computers (ug)  not allowed    not assigned
1986  2796788     3        computers (ug)  not allowed    not assigned
1987  2796789     1             economics      allowed     Medium room
1988  2796790     2             economics      allowed     Medium room
1989  2796791     3             economics      allowed     Medium room
1990  2796800     1                 hindi      allowed      Small room
1991  2796801     2                 hindi      allowed      Small room
1992  2796802     3                 hindi      allowed      Small room
1993  2796803     1  computer application      allowed     Medium room
1994  2796804     2  computer application      allowed     Medium room
1995  2796805     3  computer application      allowed     Medium room
1996  2796812     1               nursing      allowed     Medium room
1997  2796813     2               nursing      allowed     Medium room
1998  2796814     3               nursing      allowed     Medium room
1999  2796815     4               nursing      allowed     Medium room

[2000 rows x 5 columns]

### Another Way

In [1]:
import pandas as pd

df = pd.read_csv('data/enrolment_2.csv')

# 과목별 인원 가져오기
allowed = df["status"] == "allowed"
course_counts = df.loc[allowed, "course name"].value_counts()

# 각 강의실 규모에 해당되는 과목 리스트 만들기
auditorium_list = list(course_counts[course_counts >= 80].index)
large_room_list = list(course_counts[(80 > course_counts) & (course_counts >= 40)].index)
medium_room_list = list(course_counts[(40 > course_counts) & (course_counts >= 15)].index)
small_room_list = list(course_counts[(15 > course_counts) & (course_counts > 4)].index)

# not allowed 과목에 대해 값 지정해주기
not_allowed = df["status"] == "not allowed"
df.loc[not_allowed, "room assignment"] = "not assigned"

# allowed 과목에 대해 값 지정해주기
for course in auditorium_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Auditorium"

for course in large_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Large room"
    
for course in medium_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Medium room"
    
for course in small_room_list:
    df.loc[(df["course name"] == course) & allowed, "room assignment"] = "Small room"
    
# 정답 출력
df

           id  year           course name       status room assignment
0     2777729     1               science      allowed      Auditorium
1     2777730     2               science      allowed      Auditorium
2     2777765     1                  arts      allowed      Auditorium
3     2777766     2                  arts      allowed      Auditorium
4     2777785     1                   mba      allowed      Small room
5     2777786     2                   mba      allowed      Small room
6     2777793     1         mba 2nd shift  not allowed    not assigned
7     2777794     2         mba 2nd shift  not allowed    not assigned
8     2777795     1         mca 2nd shift  not allowed    not assigned
9     2777796     2         mca 2nd shift  not allowed    not assigned
10    2777797     3         mca 2nd shift  not allowed    not assigned
11    2777798     1                  bjmc  not allowed    not assigned
12    2777799     2                  bjmc  not allowed    not assigned
13    2777800     3                  bjmc  not allowed    not assigned
14    2777814     1               history      allowed     Medium room
15    2777815     2               history      allowed     Medium room
16    2777837     4             chemistry      allowed     Medium room
17    2777858     4                botany      allowed     Medium room
18    2604364     1               history      allowed     Medium room
19    2604408     3               finance      allowed      Small room
20    2604407     2               finance      allowed      Small room
21    2604420     1               physics      allowed     Medium room
22    2777899     1      computer science      allowed     Medium room
23    2604365     2               history      allowed     Medium room
24    2604413     2               english      allowed      Large room
25    2604406     1               finance      allowed      Small room
26    2604366     3               history      allowed     Medium room
27    2604412     1               english      allowed      Large room
28    2604421     2               physics      allowed     Medium room
29    2777900     4              commerce  not allowed    not assigned
...       ...   ...                   ...          ...             ...
1970  2796702     1      computer science      allowed     Medium room
1971  2796703     2      computer science      allowed     Medium room
1972  2796704     3      computer science      allowed     Medium room
1973  2796756     1             education      allowed      Large room
1974  2796757     2             education      allowed      Large room
1975  2796769     1            management      allowed     Medium room
1976  2796770     2            management      allowed     Medium room
1977  2796771     3            management      allowed     Medium room
1978  2796772     1           music vocal  not allowed    not assigned
1979  2796773     2           music vocal  not allowed    not assigned
1980  2796774     3           music vocal  not allowed    not assigned
1981  2796783     1     political science      allowed      Small room
1982  2796784     2     political science      allowed      Small room
1983  2796785     3     political science      allowed      Small room
1984  2796786     1        computers (ug)  not allowed    not assigned
1985  2796787     2        computers (ug)  not allowed    not assigned
1986  2796788     3        computers (ug)  not allowed    not assigned
1987  2796789     1             economics      allowed     Medium room
1988  2796790     2             economics      allowed     Medium room
1989  2796791     3             economics      allowed     Medium room
1990  2796800     1                 hindi      allowed      Small room
1991  2796801     2                 hindi      allowed      Small room
1992  2796802     3                 hindi      allowed      Small room
1993  2796803     1  computer application      allowed     Medium room
1994  2796804     2  computer application      allowed     Medium room
1995  2796805     3  computer application      allowed     Medium room
1996  2796812     1               nursing      allowed     Medium room
1997  2796813     2               nursing      allowed     Medium room
1998  2796814     3               nursing      allowed     Medium room
1999  2796815     4               nursing      allowed     Medium room

[2000 rows x 5 columns]