In [1]:
import pandas as pd

travel_df = pd.read_csv('data/world_cities.csv', index_col=0)

travel_df

           City / Urban area     Country  Population  Land area (in sqKm)
0               Buenos Aires   Argentina    11200000                 2266
1                  Melbourne   Australia     3162000                 2080
2                     Sydney   Australia     3502000                 1687
3                   Brisbane   Australia     1508000                 1603
4                      Perth   Australia     1177000                  964
5                   Adelaide   Australia     1002000                  729
6                 Gold Coast   Australia      422000                  383
7                     Vienna     Austria     1550000                  453
8              Baku/Sumqayit  Azerbaijan     2100000                  544
9                   Brussels     Belgium     1570000                  712
10                   Antwerp     Belgium      915000                  596
11                 Sao Paulo      Brazil    17700000                 1968
12            Rio de Janeiro      Brazil    10800000                 1580
13            Belo Horizonte      Brazil     4000000                  868
14                  Curitiba      Brazil     2500000                  648
15                  Brasilia      Brazil     1625000                  583
16                 Fortaleza      Brazil     2650000                  583
17              Porto Alegre      Brazil     2800000                  583
18                  Campinas      Brazil     1750000                  492
19                   Goiania      Brazil     1475000                  479
20                    Recife      Brazil     3025000                  376
21                Phnom Penh    Cambodia     1500000                  518
22                 Montreal.      Canada     3216000                 1740
23                   Toronto      Canada     4367000                 1655
24                 Vancouver      Canada     1830000                 1120
25                  Edmonton      Canada      782000                  850
26                   Calgary      Canada      879000                  702
27                    Quebec      Canada      635000                  669
28               Ottawa/Hull      Canada      828000                  490
29                  Winnipeg      Canada      627000                  446
..                       ...         ...         ...                  ...
220                Pensacola         USA      324000                  568
221                  Hickory         USA      188000                  546
222                   Mobile         USA      318000                  546
223               Harrisburg         USA      363000                  540
224                Asheville         USA      222000                  536
225              Little Rock         USA      360000                  532
226                   Toledo         USA      503000                  524
227                Lancaster         USA      324000                  517
228              New Orleans         USA     1009000                  512
229         Colorado Springs         USA      466000                  511
230               Cape Coral         USA      330000                  497
231                    Ogden         USA      418000                  466
232                 Syracuse         USA      402000                  465
233                  Wichita         USA      422000                  465
234                  Concord         USA      553000                  457
235            Port St Lucie         USA      271000                  438
236             Fayetteville         USA      276000                  433
237                  Jackson         USA      293000                  417
238                 Scranton         USA      385000                  411
239               Huntsville         USA      213000                  407
240                   Durham         USA      288000                  406
241               South Bend         USA      276000                  404
242               Shreveport         USA      275000                  401
243                 Honolulu         USA      718000                  399
244  Bonita Springs / Naples         USA      221000                  389
245                   Canton         USA      267000                  372
246                  Spokane         USA      335000                  371
247                 Tashkent  Uzbekistan     2200000                  531
248         Ho Chi Minh City     Vietnam     4900000                  518
249                   Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

### 1. 여행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있는지 알아맞혀 보세요.

In [2]:
travel_df['City / Urban area'].describe()

count          249
unique         249
top       Budapest
freq             1
Name: City / Urban area, dtype: object

In [3]:
travel_df['Country'].describe()

count     249
unique     61
top       USA
freq      105
Name: Country, dtype: object

In [5]:
travel_df['City / Urban area'].value_counts()

Budapest                    1
Riverside/San Bernardino    1
Kolkata                     1
Brasilia                    1
Lille                       1
Dayton                      1
Sydney                      1
Oklahoma City               1
Colorado Springs            1
Youngstown                  1
Porto                       1
Glasgow                     1
Washington                  1
Mumbai                      1
Memphis                     1
Canton                      1
Kuala Lumpur                1
Calgary                     1
Charleston                  1
Cape Coral                  1
Sapporo                     1
Tours                       1
Osaka/Kobe/Kyoto            1
Portland                    1
Cape Town                   1
Phnom Penh                  1
Augusta                     1
Toledo                      1
Philadelphia                1
Fortaleza                   1
                           ..
Omaha                       1
Flint                       1
Pretoria                    1
Baku/Sumqayit               1
Auckland                    1
Taichung                    1
Tel Aviv                    1
Donetsk                     1
Syracuse                    1
Campinas                    1
Nice                        1
Tashkent                    1
Lancaster                   1
Baltimore                   1
Akron                       1
Rome                        1
Rio de Janeiro              1
Mexico City                 1
Bogota                      1
Tokyo/Yokohama              1
Port Elizabeth              1
Seattle                     1
Albany                      1
Guadalajara                 1
Buenos Aires                1
Riyadh                      1
Nizhni Novgorod             1
Khartoum                    1
Greenville                  1
Winnipeg                    1
Name: City / Urban area, Length: 249, dtype: int64

In [7]:
travel_df['City / Urban area'].value_counts().shape

(249,)

In [8]:
travel_df['Country'].value_counts().shape

(61,)

### 2. 사람 만나기를 좋아하는 익중이는 가장 사람이 붐비는 도시로 여행을 가기로 마음 먹었습니다. 주어진 데이터에서, 인구 밀도(명/sqKm) 가 10000 이 넘는 도시는 총 몇 개인지 알아보세요.

In [15]:
(travel_df['Population']/travel_df['Land area (in sqKm)'] > 10000).value_counts()

False    230
True      19
dtype: int64

In [17]:
travel_df["Density"] = travel_df["Population"] / travel_df["Land area (in sqKm)"]

In [18]:
travel_df_high_density = travel_df[travel_df["Density"] > 10000]

In [19]:
travel_df_high_density .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 5 columns):
City / Urban area      19 non-null object
Country                19 non-null object
Population             19 non-null int64
Land area (in sqKm)    19 non-null int64
Density                19 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 912.0+ bytes

### 3. 이번에는 인구 밀도가 가장 높은 도시를 찾아봅시다.

In [21]:
travel_df['Population Density'] = travel_df['Population']/travel_df['Land area (in sqKm)']
travel_df

,City / Urban area,Country,Population,Land area (in sqKm),Density,Population Density
0,Buenos Aires,Argentina,11200000,2266,4942.630185,4942.630185
1,Melbourne,Australia,3162000,2080,1520.192308,1520.192308
2,Sydney,Australia,3502000,1687,2075.874333,2075.874333
3,Brisbane,Australia,1508000,1603,940.736120,940.736120
4,Perth,Australia,1177000,964,1220.954357,1220.954357
5,Adelaide,Australia,1002000,729,1374.485597,1374.485597
6,Gold Coast,Australia,422000,383,1101.827676,1101.827676
7,Vienna,Austria,1550000,453,3421.633554,3421.633554
8,Baku/Sumqayit,Azerbaijan,2100000,544,3860.294118,3860.294118
9,Brussels,Belgium,1570000,712,2205.056180,2205.056180
10,Antwerp,Belgium,915000,596,1535.234899,1535.234899
11,Sao Paulo,Brazil,17700000,1968,8993.902439,8993.902439
12,Rio de Janeiro,Brazil,10800000,1580,6835.443038,6835.443038
13,Belo Horizonte,Brazil,4000000,868,4608.294931,4608.294931
14,Curitiba,Brazil,2500000,648,3858.024691,3858.024691
15,Brasilia,Brazil,1625000,583,2787.307033,2787.307033
16,Fortaleza,Brazil,2650000,583,4545.454545,4545.454545
17,Porto Alegre,Brazil,2800000,583,4802.744425,4802.744425
18,Campinas,Brazil,1750000,492,3556.910569,3556.910569
19,Goiania,Brazil,1475000,479,3079.331942,3079.331942
20,Recife,Brazil,3025000,376,8045.212766,8045.212766
21,Phnom Penh,Cambodia,1500000,518,2895.752896,2895.752896
22,Montreal.,Canada,3216000,1740,1848.275862,1848.275862
23,Toronto,Canada,4367000,1655,2638.670695,2638.670695
24,Vancouver,Canada,1830000,1120,1633.928571,1633.928571
25,Edmonton,Canada,782000,850,920.000000,920.000000
26,Calgary,Canada,879000,702,1252.136752,1252.136752
27,Quebec,Canada,635000,669,949.177877,949.177877
28,Ottawa/Hull,Canada,828000,490,1689.795918,1689.795918
29,Winnipeg,Canada,627000,446,1405.829596,1405.829596
...,...,...,...,...,...,...
220,Pensacola,USA,324000,568,570.422535,570.422535
221,Hickory,USA,188000,546,344.322344,344.322344
222,Mobile,USA,318000,546,582.417582,582.417582
223,Harrisburg,USA,363000,540,672.222222,672.222222
224,Asheville,USA,222000,536,414.179104,414.179104
225,Little Rock,USA,360000,532,676.691729,676.691729
226,Toledo,USA,503000,524,959.923664,959.923664
227,Lancaster,USA,324000,517,626.692456,626.692456
228,New Orleans,USA,1009000,512,1970.703125,1970.703125
229,Colorado Springs,USA,466000,511,911.937378,911.937378
230,Cape Coral,USA,330000,497,663.983903,663.983903
231,Ogden,USA,418000,466,896.995708,896.995708
232,Syracuse,USA,402000,465,864.516129,864.516129
233,Wichita,USA,422000,465,907.526882,907.526882
234,Concord,USA,553000,457,1210.065646,1210.065646
235,Port St Lucie,USA,271000,438,618.721461,618.721461
236,Fayetteville,USA,276000,433,637.413395,637.413395
237,Jackson,USA,293000,417,702.637890,702.637890
238,Scranton,USA,385000,411,936.739659,936.739659
239,Huntsville,USA,213000,407,523.341523,523.341523
240,Durham,USA,288000,406,709.359606,709.359606
241,South Bend,USA,276000,404,683.168317,683.168317
242,Shreveport,USA,275000,401,685.785536,685.785536
243,Honolulu,USA,718000,399,1799.498747,1799.498747
244,Bonita Springs / Naples,USA,221000,389,568.123393,568.123393
245,Canton,USA,267000,372,717.741935,717.741935
246,Spokane,USA,335000,371,902.964960,902.964960
247,Tashkent,Uzbekistan,2200000,531,4143.126177,4143.126177
248,Ho Chi Minh City,Vietnam,4900000,518,9459.459459,9459.459459
249,Harare,Zimbabwe,1750000,712,2457.865169,2457.865169

In [24]:
density_ranks = travel_df.sort_values(by='Population Density', ascending=False)
density_ranks

,City / Urban area,Country,Population,Land area (in sqKm),Density,Population Density
75,Mumbai,India,14350000,484,29648.760331,29648.760331
74,Kolkata,India,12700000,531,23917.137476,23917.137476
101,Karachi,Pakistan,9800000,518,18918.918919,18918.918919
99,Lagos,Nigeria,13400000,738,18157.181572,18157.181572
34,Shenzhen,China,8000000,466,17167.381974,17167.381974
123,Seoul/Incheon,South Korea,17500000,1049,16682.554814,16682.554814
129,Taipei,Taiwan,5700000,376,15159.574468,15159.574468
76,Chennai,India,5950000,414,14371.980676,14371.980676
38,Bogota,Colombia,7000000,518,13513.513514,13513.513514
33,Shanghai,China,10000000,746,13404.825737,13404.825737
102,Lima,Peru,7000000,596,11744.966443,11744.966443
32,Beijing,China,8614000,748,11516.042781,11516.042781
71,Delhi,India,14300000,1295,11042.471042,11042.471042
39,Kinshasa,Congo,5000000,469,10660.980810,10660.980810
78,Tehran,Iran,7250000,686,10568.513120,10568.513120
103,Manila,Philippines,14750000,1399,10543.245175,10543.245175
36,Tianjin,China,4750000,453,10485.651214,10485.651214
77,Jakarta,Indonesia,14250000,1360,10477.941176,10477.941176
73,Bangalore,India,5400000,534,10112.359551,10112.359551
248,Ho Chi Minh City,Vietnam,4900000,518,9459.459459,9459.459459
43,Cairo,Egypt,12200000,1295,9420.849421,9420.849421
35,Shenyang,China,4200000,453,9271.523179,9271.523179
79,Baghdad,Iraq,5500000,596,9228.187919,9228.187919
72,Hyderabad,India,5300000,583,9090.909091,9090.909091
11,Sao Paulo,Brazil,17700000,1968,8993.902439,8993.902439
111,St Petersburg,Russia,5300000,622,8520.900322,8520.900322
94,Mexico City,Mexico,17400000,2072,8397.683398,8397.683398
31,Santiago,Chile,5425000,648,8371.913580,8371.913580
116,Singapore,Singapore,4000000,479,8350.730689,8350.730689
100,Lahore,Pakistan,5100000,622,8199.356913,8199.356913
...,...,...,...,...,...,...
175,Charlotte,USA,759000,1126,674.067496,674.067496
223,Harrisburg,USA,363000,540,672.222222,672.222222
176,Nashville,USA,750000,1116,672.043011,672.043011
59,Bethune,France,259000,390,664.102564,664.102564
230,Cape Coral,USA,330000,497,663.983903,663.983903
209,Worcester,USA,430000,648,663.580247,663.580247
201,Baton Rouge,USA,479000,727,658.872077,658.872077
188,Raleigh,USA,542000,828,654.589372,654.589372
190,McAllen,USA,523000,813,643.296433,643.296433
236,Fayetteville,USA,276000,433,637.413395,637.413395
227,Lancaster,USA,324000,517,626.692456,626.692456
235,Port St Lucie,USA,271000,438,618.721461,618.721461
211,Flint,USA,365000,599,609.348915,609.348915
203,Columbia,USA,421000,697,604.017217,604.017217
222,Mobile,USA,318000,546,582.417582,582.417582
220,Pensacola,USA,324000,568,570.422535,570.422535
244,Bonita Springs / Naples,USA,221000,389,568.123393,568.123393
210,Augusta,USA,336000,600,560.000000,560.000000
239,Huntsville,USA,213000,407,523.341523,523.341523
215,Greenville,USA,302000,587,514.480409,514.480409
204,Poughkeepsie,USA,352000,686,513.119534,513.119534
52,Avignon,France,254000,508,500.000000,500.000000
109,Aguadilla,Puerto Rico,299000,620,482.258065,482.258065
185,Knoxville,USA,420000,879,477.815700,477.815700
208,Winston/Salem,USA,299000,651,459.293395,459.293395
195,Chattanooga,USA,344000,751,458.055925,458.055925
224,Asheville,USA,222000,536,414.179104,414.179104
57,Pau,France,181000,450,402.222222,402.222222
221,Hickory,USA,188000,546,344.322344,344.322344
197,Barnstable Town,USA,244000,741,329.284750,329.284750

In [25]:
density_ranks['City / Urban area']

75                      Mumbai
74                     Kolkata
101                    Karachi
99                       Lagos
34                    Shenzhen
123              Seoul/Incheon
129                     Taipei
76                     Chennai
38                      Bogota
33                    Shanghai
102                       Lima
32                     Beijing
71                       Delhi
39                    Kinshasa
78                      Tehran
103                     Manila
36                     Tianjin
77                     Jakarta
73                   Bangalore
248           Ho Chi Minh City
43                       Cairo
35                    Shenyang
79                     Baghdad
72                   Hyderabad
11                   Sao Paulo
111              St Petersburg
94                 Mexico City
31                    Santiago
116                  Singapore
100                     Lahore
                ...
175                  Charlotte
223                 Harrisburg
176                  Nashville
59                     Bethune
230                 Cape Coral
209                  Worcester
201                Baton Rouge
188                    Raleigh
190                    McAllen
236               Fayetteville
227                  Lancaster
235              Port St Lucie
211                      Flint
203                   Columbia
222                     Mobile
220                  Pensacola
244    Bonita Springs / Naples
210                    Augusta
239                 Huntsville
215                 Greenville
204               Poughkeepsie
52                     Avignon
109                  Aguadilla
185                  Knoxville
208              Winston/Salem
195                Chattanooga
224                  Asheville
57                         Pau
221                    Hickory
197            Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

### 4. 익중이는 누나에게 여행지를 추천 받으려고 합니다. 그런데 나라 이름이 기억나지 않고, 이 데이터에 4개의 도시가 나왔다는 것만 기억이 난다고 하네요. 이 나라는 무엇일까요?

In [34]:
countries = travel_df['Country'].value_counts()
countries

USA             105
France           15
Brazil           10
Canada            9
Germany           8
China             6
South Africa      6
Australia         6
India             6
UK                5
Japan             5
Italy             4
Mexico            3
Russia            3
Turkey            2
Portugal          2
Taiwan            2
Belgium           2
Pakistan          2
Congo             2
Poland            2
Puerto Rico       2
Saudi Arabia      2
Spain             2
UAE               2
Peru              1
Zimbabwe          1
Lebanon           1
Iran              1
Singapore         1
               ...
Sudan             1
Finland           1
Argentina         1
Ukraine           1
Uzbekistan        1
Ghana             1
Saudi             1
Philippines       1
Thailand          1
Israel            1
South Korea       1
Ireland           1
Hungary           1
Kuwait            1
Cambodia          1
Chile             1
Austria           1
New Zealand       1
Ecuador           1
Egypt             1
Vietnam           1
Azerbaijan        1
Colombia          1
Greece            1
Nigeria           1
Sweden            1
Malaysia          1
Iraq              1
Indonesia         1
Netherlands       1
Name: Country, Length: 61, dtype: int64

In [35]:
countries[countries == 4]

Italy    4
Name: Country, dtype: int64